.container {
  margin-top: 20px;
  width: 100%;
}

.tab {
  width: 100%;
  font-size: 24px;
}

.tabButton {
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}

.tabButton li {
  cursor: pointer;
  font-size: 24px;
  border-left: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  padding: 5px 15px;
}

.tabButton li:nth-child(1) {
  border-top-left-radius: 15px;
}

.tabButton li:nth-child(4) {
  border-top-right-radius: 15px;
}

.tabButton .focused {
  background-color: #0085e5;
  color: white;
  border: none;
}

.selectedDetail {
  width: 100%;
  border: 1px solid #c1c1c1;
  border-radius: 15px;
  border-top-left-radius: 0px;
  padding: 20px;
  background-color: #f4f9fd;
  font-size: 24px;
  transition: all 1s ease-in-out;
}

.radderBox {
  margin-top: 15px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chartBox {
  width: 100%;
  height: 400px;
}

.moodBox {
  width: 45%;
  padding: 15px 10px;
  border: 1px solid #0085ff;
  border-radius: 15px;
}

.moodBox h2 {
  margin-left: 15px;
  padding-left: 5px;
  border-left: 8px solid #002a49;
}

.genreBox {
  width: 45%;
  padding: 15px 10px;
  border: 1px solid #0085ff;
  border-radius: 15px;
}

.genreBox h2 {
  margin-left: 15px;
  padding-left: 5px;
  border-left: 8px solid #002a49;
}

.topFiveResult {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.result {
  padding: 10px;
  background-color: #c5e7ff;
  border-radius: 15px;
}

.summary {
  margin-top: 15px;
  width: 100%;
  padding: 15px 10px;
  background-color: #c5e7ff;
  border-radius: 15px;
}

@media screen and (max-width: 992px) {
  .chartBox {
    height: 300px;
  }
  .moodBox {
    width: 100%;
  }

  .genreBox {
    margin-top: 15px;
    width: 100%;
  }

  .moodBox h2 {
    font-size: 24px;
    margin-left: 15px;
    padding-left: 5px;
    border-left: 8px solid #002a49;
  }
  .genreBox h2 {
    font-size: 24px;
    margin-left: 15px;
    padding-left: 5px;
    border-left: 8px solid #002a49;
  }
}
