.container {
  width: 100%;
  gap: 15px;
}

.container header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.explanationBox {
  font-size: 24px;
  padding: 20px;
  background-color: #f4f9fd;
  border: 1px solid #0085e5;
  border-radius: 15px;
}

.tagBox {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
