.container {
  display: block;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.container:hover {
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(177, 222, 255, 0.35);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.overlay button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
