.container {
  margin-left: 250px;
  min-width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  padding-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 70px;
  }
}
