.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 6rem;
}

.header {
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.imgBox {
  width: 100%;
  padding: 15px;
  img {
    width: 100%;
  }
}
