.searchBar {
  font-size: 24px;
  box-sizing: border-box;
}

.searchBox {
  border-bottom: 2px solid #d7d7d7;
}

.optionBox {
  justify-content: space-between;
}

.selector {
  border-radius: 5px;
  background-color: #c5e7ff;
  border: none;
  padding: 5px;
  width: 20%;
  font-size: 20px;
  font-family: "Pretandard-500";
  cursor: pointer;
}

.musicSection {
  width: 100%;
}

.musicBox {
  width: 200px;
  height: 200px;
  background-color: #dedede;
  border-radius: 15px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}
