.borderBottom {
  padding-bottom: 10px;
  border-bottom: 2px solid #dedede;
}

.artist {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 20px;
  .img {
    width: 100%;
    height: 100%;
  }
}

.profileBox {
  text-align: center;
  flex-wrap: wrap;
}
