.header {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.headerBackground {
  position: absolute;
  height: 100%;
}

.headerBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment {
  color: white;
  margin-left: 48px;
  margin-bottom: 48px;
  padding: 15px;
  border-radius: 15px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.content {
  flex-wrap: wrap;
}
