.container {
  width: 100%;
  gap: 15px;
}

.textArea {
  width: 80%;
  height: 80px;
  font-family: "Pretandart-500";
  resize: none;
  font-size: 22px;
  border: 1px solid #939393;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

.textArea::-webkit-scrollbar {
  display: none;
}

.submitButton {
  width: 20%;
  height: 80px;
  cursor: pointer;
  background-color: #0085e5;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  font-size: 26px;
}

.submitButton:active {
  position: relative;
  top: 2px;
}

@media screen and (max-width: 992px) {
  .submitButton {
    font-size: 22px;
  }
}
